:root {
  @include big-screen {
    font-size: 1.25vw;
  }

  @include medium-screen {
    font-size: 1.25vw;
  }

  @include small-screen {
    font-size: 5vw;
  }
}

body {
  font-family: 'DinPro'
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
